body {
 
}

.clock {
    position: absolute;



}

#face {
    position: absolute;
    
    
}

#hour {
    position: absolute;
    transform-origin: 0 100%;

}

#minute {
    position: absolute;
    transform-origin: 0 100%;
    

}

#second {
    position: absolute;
    transform-origin: 0 100%;


}

